brotlipy==0.7.0
certifi==2020.6.20
cffi==1.15.0
charset-normalizer==2.0.4
cryptography==37.0.1
distro==1.6.0
idna==3.3
numpy==1.22.3
packaging==21.3
pandas==1.4.2
pip==21.2.4
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
setuptools==61.2.0
setuptools-scm==6.4.2
six==1.16.0
tabula-py==2.2.0
tomli==2.0.1
urllib3==1.26.9
wheel==0.37.1
